.red-carpet {
    background-color: crimson!important;
    color: white;
    /* z-index: 1; */
}
.answerBtn {
    background-color: crimson!important;
}

#photoSpot {
    width: 100%;
    max-width: 500px;
    height: auto;
}